<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Enterprise Lex Index{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% block custom_css %} {% endblock %}
</head>

<body class="bg-gray-100 text-gray-900 flex flex-col min-h-screen">

    <!-- !Navegación -->
    <nav class="bg-white shadow-md">
        <div class="container mx-auto px-4 py-4 flex items-center justify-between">
            <a href="{% url 'index' %}" class="text-3xl font-bold text-blue-600 flex-shrink-0">ELI</a>
            <ul class="flex items-center space-x-6 ml-auto">
                {% if user.is_authenticated %}
                <li>
                    <div class="text-gray-700 font-medium flex items-center">
                        ¡Bienvenido, <span class="font-bold text-blue-600 ml-1">{{ user.username }}!</span>
                    </div>
                </li>
                <li>
                    <form action="{% url 'logout' %}" method="post" class="flex items-center">
                        {% csrf_token %}
                        <button type="submit"
                            class="text-red-600 hover:underline bg-transparent border-none cursor-pointer">Cerrar
                            sesión</button>
                    </form>
                </li>
                <li>
                    <a href="{% url 'panel' %}" class="text-gray-700 hover:text-blue-600 flex items-center">Panel de administración</a>
                </li>
                <li>
                    <a href="{% url 'profile' %}" class="flex items-center">
                        {% if user.profile.picture %}
                            <img src="{{ user.profile.picture.url }}" alt="Foto de perfil" class="w-16 h-16 rounded-full object-cover">
                        {% else %}
                        <div class="w-12 h-12 rounded-full bg-gray-300 flex items-center justify-center text-gray-600">
                            <span class="text-sm">👤</span>
                        </div>
                        {% endif %}
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}" class="text-gray-700 hover:text-blue-600 flex items-center">Iniciar sesión</a>
                </li>
                <li>
                    <a href="{% url 'register' %}" class="text-gray-700 hover:text-blue-600 flex items-center">Registrarse</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- !Contenido principal -->
    <main class="container mx-auto py-8 flex-grow">
        {% block content %}{% endblock %}
    </main>

    <!-- !Footer -->
    <footer class="bg-gray-200 text-center py-4">
        © 2025 Enterprise Lex Index. Todos los derechos reservados.
    </footer>

    {% block scripts %}
    {% endblock %}
</body>

</html>
